<div class="date-navigation">
  <div class="date-navigation__controls">
    <%= link_to plan_calendar_path(date: viewed_date - 1.day),
        class: "date-navigation__arrow",
        data: { turbo_frame: "calendar-frame" } do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="16" height="16">
        <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
      </svg>
    <% end %>

    <div class="date-navigation__date">
      <span class="date-navigation__day"><%= viewed_date.strftime("%A") %></span>
      <span class="date-navigation__full"><%= viewed_date.strftime("%B %-d, %Y") %></span>
    </div>

    <%= link_to plan_calendar_path(date: viewed_date + 1.day),
        class: "date-navigation__arrow",
        data: { turbo_frame: "calendar-frame" } do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="16" height="16">
        <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 1 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </div>

  <% unless viewed_date == Date.current %>
    <%= link_to plan_calendar_path(date: Date.current),
        class: "date-navigation__today",
        data: { turbo_frame: "calendar-frame" } do %>
      Back to Today
    <% end %>
  <% end %>

  <% if frozen %>
    <div class="date-navigation__frozen-badge">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-3.5 h-3.5">
        <path fill-rule="evenodd" d="M8 1a3.5 3.5 0 0 0-3.5 3.5V7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7V4.5A3.5 3.5 0 0 0 8 1Zm2 6V4.5a2 2 0 1 0-4 0V7h4Z" clip-rule="evenodd" />
      </svg>
      <span>Read Only</span>
    </div>
  <% end %>
</div>
