<%
  # Day view from 7:00 AM (420 min) to 8:00 PM (1200 min)
  start_hour = 7
  end_hour = 20
  pixels_per_minute = 0.664 # 0.664 pixel per minute = ~40px per hour
  total_minutes = (end_hour - start_hour) * 60
  padding_offset = 24 # 24px padding above 7am and below 8pm
  total_height = total_minutes * pixels_per_minute + (padding_offset * 2)
  google_events = local_assigns[:google_events] || []
  frozen = local_assigns[:frozen] || false
%>

<div class="day-view__grid relative <%= 'day-view--frozen' if frozen %>" style="height: <%= total_height %>px;" data-controller="day-view">
  <!-- Time labels and grid lines -->
  <% (start_hour..end_hour).each do |hour| %>
    <%
      minutes_from_start = (hour - start_hour) * 60
      top_position = minutes_from_start * pixels_per_minute
    %>
    <div class="day-view__hour-line absolute left-0 right-0" style="top: <%= top_position + padding_offset %>px;">
      <span class="day-view__hour-label">
        <%= format("%02d:00", hour) %>
      </span>
    </div>
  <% end %>

  <!-- Events container (offset for time labels and padding) -->
  <div class="absolute left-14 right-2" style="top: <%= padding_offset %>px; bottom: <%= padding_offset %>px;">
    <!-- Google Calendar events -->
    <div data-day-view-target="googleEvents">
      <% google_events.each do |event| %>
        <%
          minutes_from_day_start = event[:start_minutes] - (start_hour * 60)
          top_position = minutes_from_day_start * pixels_per_minute
          height = event[:duration_minutes] * pixels_per_minute
        %>
        <div class="time-block time-block--google"
             style="top: <%= top_position %>px; height: <%= height %>px;">
          <span class="time-block__title"><%= event[:title] %></span>
          <span class="time-block__time">
            <%= format("%02d:%02d", event[:start_minutes] / 60, event[:start_minutes] % 60) %> -
            <%= format("%02d:%02d", event[:end_minutes] / 60, event[:end_minutes] % 60) %>
          </span>
        </div>
      <% end %>
    </div>

    <!-- Task time blocks -->
    <div data-day-view-target="timeBlocks">
      <% time_blocks.each do |block| %>
        <%= render "plan/time_block", time_block: block, start_hour: start_hour, pixels_per_minute: pixels_per_minute, frozen: frozen %>
      <% end %>
    </div>
  </div>
</div>
